body {
    color: rgb(199, 15, 15);
    background: rgb(81, 165, 204);
  }
   
  div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
  }
   
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
   
  button,
  label,
  ul {
    width: 300px;
    box-sizing: border-box;
    border: outset 1px rgb(224, 73, 73);
    background: black;
    color: rgb(238, 81, 81);
    font-size: 24px;
    margin: auto;
    padding: 10px;
  }
   
  img {
    width: 300px;
    margin-bottom: 25px;
    border-radius: 50%;
  }
   
  ul {
    list-style: none;
    padding: 10px;
    margin-bottom: 25px;
  }
   
  li:not(:last-child) {
    padding: 10px;
    border-bottom: solid 1px;
  }
  